<launch>

    <include file="$(find anorosdt)/launch/anoros_dt.launch"/>
    
    <include file="$(find anorosdt)/launch/Lidar.launch"/>

    <include file="$(find anorosdt)/launch/cartographer_ros/launch/demo_revo_lds_imu.launch"/>

    <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find anorosdt)/rviz/cartographer.rviz" />

</launch>
